// vars for the links

$link-font: Verdana, geneva, sans-serif;
$link-weight: bold;
$link-color: #333333;

$date-font: arial, helvetica, sans-serif;
$tab-color: #F5F4F4;
$header-background: rgba(102,95,96,0.7); 
$article-link-color: #000000;
 
// vars for the media queires
$tablet-width: 786px;
$desktop-width: 1024px;
$mobile-width: 320px;

// mobile-dropdown menu
$text-color: yellow;
$border-color: 1px solid yellow;
$hamburger-menu: yellow;

@mixin mobile {
  @media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (min-width: 320px){
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
// /* Styles */
// }
// 
// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
// /* Styles */
// }
// 
// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {
// /* Styles */
// }
// 
// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
// /* Styles */
// }
// 
// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
// /* Styles */
// }
// 
// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
// /* Styles */
// }
// 
// /* Desktops and laptops ----------- */
// @media only screen 
// and (min-width : 1224px) {
// /* Styles */
// }
// 
// /* Large screens ----------- */
// @media only screen 
// and (min-width : 1824px) {
// /* Styles */
// }
// 
// /* iPhone 4 ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }
