* {
    margin:0;
    padding: 0;
    height:auto;
    font-family: Arial, helvetica, sans-serif;
}

a {
    color:#000000;
    text-decoration: none;
}

a:hover {color:blue;}
h1, h2, h3 {
    font-family: times;
}

.clear {clear:both;}
li {list-style-type: none;}
li:last-child {padding-right: 0;}

.main_container {
    width:98%;
    max-width: 1090px;
    margin:0 auto;
}

.header, .nav_bar {padding-bottom: 20px;}

.header, .nav_bar, .footer, .body_content {
    width: 100%;
    margin: 0 auto;

}


.header img {
    margin: 0 auto;
    width:100%;
    height: auto;
}

.nav_bar {
    margin:0 auto;
    width: 35%;
}
/*.nav li:last-child, footer ul li:last-child {
    padding-right: none;
}*/
.nav li, .footer ul li {
    display: inline;
    text-align: center;
    padding-right: 10%;
    font-size: 1.2em;
}
.side_bar h3 {
    font-size: 1em;
    margin-bottom: 12px;
}
.nav_bar {
    display: table;
}

.side_bar {
    float:left;
    width: 15%;
}

.side_bar-links li {
    margin-left: 10px;
}

.page_content {
    float:right;
    width: 85%;
}

.title h2 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2.2em;
    margin-bottom: 8px;
}
.title .date_posted { text-transform: uppercase; }
.blog_text {
    margin-top: 20px;
    border-bottom: 1px solid #cccccc;
}
.blog_text p { margin-bottom: 20px; }

.footer {margin-top: 30px;}
.footer ul {
    width: 40%;
    margin: 0 auto;
}

@media only screen and (max-width : 481px) {
/* Styles */
.side_bar {display:none;}
.page_content, .nav_bar, .footer ul{ width:100%;}
}

/*borders delete later*/
/*.header {background-color: red;}*/
.nav_bar {background-color: blue;}
.page_content {background-color: yellow;}
.side_bar {background-color: green;}
.title {background-color: gray;}
.blog_text {background-color: orange;}
.footer ul{background-color: purple;}
li {background-color:pink;}