* {
    margin:0;
    padding: 0;
    height:auto;
    font-family: Arial, helvetica, sans-serif;
}

a {
    color:#000000;
    text-decoration: none;
}

a:hover {color:blue;}
h1, h2, h3 {
    font-family: times;
}

.clear {clear:both;}
li {list-style-type: none;}
li:last-child {padding-right: 0;}

.main_container {
    width:98%;
    max-width: 1090px;
    margin:0 auto;
}

.header, .nav_bar {padding-bottom: 20px;}

.header, .footer, .body_content {
    width: 100%;
    margin: 0 auto;

}


.header img {
    margin: 0 auto;
    width:100%;
    height: auto;
}

.nav_bar {
    margin:0 auto;
    width: 80%;
}
/*.nav li:last-child, footer ul li:last-child {
    padding-right: none;
}*/
.nav li {
    display: inline;
    text-align: center;
    padding-right: 10%;
    font-size: 1.2em;
}
.footer ul li {
    display: inline;
    text-align: center;
}

.side_bar h3 {
    font-size: 1em;
    margin-bottom: 12px;
}
.nav_bar {
    display: table;
}

.side_bar {
    float:left;
    width: 15%;
    margin-right: 10px;
}

.sidebar-links li, .git p {
    /*margin-left: 10px;*/
    margin-bottom: 10px;
}

.page_content {
    float:right;
    width: 80%;
}

.title h2 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2.2em;
    margin-bottom: 8px;
}
.title .date_posted { text-transform: uppercase; }
.blog_text {
    margin-top: 20px;
    border-bottom: 1px solid #cccccc;
}
.blog_text ul {
    margin-left: 40px;
    margin-bottom: 20px;
}
.blog_text ul li {
    margin-top: 10px;
}
.blog_text p { margin-bottom: 20px; }

.footer {margin-top: 30px;}
.footer ul {
    width: 40%;
    margin: 0 auto;
}
.footer img {
    width: 10%;
    margin-right:10%;
    height:auto;
}

/*css for the blog posts*/
.blog_text h4 {
    margin-bottom: 20px;
}

.mark-down {
    background-color: #303030;
    margin:10px 0;
    padding:10px;
}
.ruby-keyword {color:#00ffff;}
.ruby-constant{color: #7fffd4;}
.ruby-identifier {color: #ffdead;}
.line-break {padding-left: 25px;}

.git .terminal {background-color: #000; margin-bottom: 20px; padding: 10px;}
.git p {border-bottom: 1px solid #000;}
.terminal .tilde {color:red;}
.terminal .command {color:#2FFF12;}
@media only screen and (max-width : 481px) {
/* Styles */
.side_bar {display:none;}
.page_content, .nav_bar, .footer ul{ width:100%;}
}

/*borders delete later*/
/*.header {background-color: red;}
.nav_bar {background-color: blue;}
.page_content {background-color: yellow;}
.side_bar {background-color: green;}
.title {background-color: gray;}
.blog_text {background-color: orange;}
.footer ul{background-color: purple;}
li {background-color:pink;}*/