* {margin: 0; padding:0;}
h2, h3 { text-align: center; font-family: Verdana, geneva, sans-serif; margin-bottom: 20px;}
p {margin-bottom: 20px; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
.container{ width:100%; top:0px; }
.header {background-color: #333333; width:100%; height: auto;  position: fixed; z-index: 100; }
.header img {border-radius: 246px; width: 80px; margin:10px; float:left;}
.header .nav {margin-top:38px; margin-right: 20px}
.header .nav li {}
.header .nav a {color:#ffffff; text-decoration: none; margin-left: 20px; font-family: Verdana, geneva, sans-serif;}
.filler {height:100px; }
.welcome {background-color: #878787; height:100vh; padding-top: 120px;}
.welcome, .about, .projects, .contact {padding-top: 40px;}
.content {width: 80%; margin:0 auto;}
.about {background-color: #FFFFFF; height:100vh;}
.projects {background-color: #EE5929; height:100vh;}
.contact {background-color: #878787; height:100vh;}
.git-cheat {background-color: #FFFFFF; height:100vh;}
.side_bar {background-color: #EE5929; height:auto;}
.side_bar li {display: inline-block; padding-bottom: 16px;}
.sidebar-links p {padding-bottom: 20px;}
.sidebar-links { width:80%; margin: 0 auto;}
.footer {background-color: #333333;}
.header .nav {float:right;}
.nav li {display: inline;}
summary {background-color: #000; margin-bottom: 20px; padding: 10px; cursor: pointer;}
details p {border-bottom: 1px solid #000;}
summary .tilde {color:red;}
summary .command {color:#2FFF12;}
.footer ul li {display: inline; text-align: center;}

.footer ul {width: 40%; margin: 0 auto; }
.footer img {width: 10%; margin-right:10%; height:auto; margin-top: 10px; margin-bottom: 10px;}
.clear {clear: both;}

a {
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {color:blue;}
h1, h2, h3 {
    font-family: times;
}
.page_content {
    width: 95%;
    margin: 0 auto;
}

.mark-down {
    background-color: #303030;
    margin:10px 0;
    padding:10px;
}
.ruby-keyword {color:#00ffff;}
.ruby-constant{color: #7fffd4;}
.ruby-identifier {color: #ffdead;}
.line-break {padding-left: 25px;}

@media only screen and (max-width : 481px) {
  font-weight: bold;
/* Styles */
/*.side_bar {display:none;}*/
.page_content, .nav_bar, .footer ul{ width:100%;}
p { font-size: 24px;}
}
